

<head>
    <title>medident: Software gestionale per Studi Dentistici </title>
    <meta name="description" content="Applicativo per gestire studi dentistici">
            <meta name="description" content="Software per la gestione di  Studi Dentistici ">
    <meta name="keywords" content="software, computer, Studi Dentistici, studio, studi, 
         Dentisti, dentistici, programma per dentisti, programma, dente, denti,
         gestionale, gestionale per studi dentistici, AbacuSW, Moreschini">

    
<meta name="Microsoft Theme" content="blueprnt 011">
<meta name="Microsoft Border" content="tl, default">
</head>

<!-- body background="_themes/blueprnt/blutextb.gif" bgcolor="#FFFFFF" text="#003399" link="#CC9900" vlink="#666699" alink="#CC3399" onload="initjsDOMenu(); start_ticking()"><!--msnavigation-->
<body background="_themes/blueprnt/blutextb.gif" bgcolor="#FFFFFF" text="#003399" link="#CC9900" vlink="#666699" alink="#CC3399"><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td><!--mstheme--><font face="Century Gothic, Arial, Helvetica">

<!--mstheme--></font></td></tr><!--msnavigation--></table><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" width="1%"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
<!--mstheme--></font></td><td valign="top" width="24"></td><!--msnavigation--><td valign="top"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
    
	<script language="JavaScript" src="tree_nodes.js" msnavigation></script>
	<script language="JavaScript" src="tree_format.js"></script>
	<script language="JavaScript" src="nostree.js"></script>


	<script language="JavaScript">   
                                          // CODICE DIRETTAMENTE INSERITO NEL BROWSER....
//This script featured on JavaScript Kit (http://www.javascriptkit.com)

		var treeName = "Tree";
		new NosTree (treeName, TREE_NODES, TREE_FORMAT);

	//UNCOMMENT 2 lines below to expand first node of tree and redraw it
	//NTrees[treeName].Nodes[0].expanded = true;
	//NTrees[treeName].draw();
	</script>




    <!--mstheme--></font><table border="0" width="100%" height="350" cellspacing="0" cellpadding="0">
        <tr height="100" bgcolor="#800000">   <!-- striscione alto  -->
            <td width="150"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <img src="images/logo1.gif" alt="logo1.gif (1842 byte)" align="right" width="112" height="80">
            <!--mstheme--></font></td>
            <td width="650"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <p align="center"><strong><font color="#0000FF" size="6">
                &nbsp;&nbsp;&nbsp;</font>
                <font face="Verdana" size="7" color="#008000">AbacuSW&quot; </font>
                <font face="Verdana" size="5" color="#008000"><br> Studio di Programmazione </font>
                </strong><font color="#0000FF" size="2"><br>
                &nbsp;&nbsp;&nbsp; </font>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                <font size="3" color="#FFFF00"> 
                        Responsabile: Dott. Angelo Moreschini.&nbsp; <br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Via Lambioi N.1 32100 BELLUNO Tel.:043725178 Fax.:0437298890 
                       <!-- /strong --></font>
                <font color="#00000B" size="3"><br>
                      &nbsp;&nbsp;&nbsp; </font><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      
                     
            <!--mstheme--></font></td>
            <td width="150"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <img src="images/io1.jpg" alt="foto.jpg " align="left" width="100" height="120" FRAMEBORDER =9>
            <!--mstheme--></font></td>

        </tr>
        <tr>     <!-- striscione intermedio  -->
                      
            <td width="250" height="300" bgcolor ="#F5FFFA"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">  <!-- prima colonna: menù ed E-MAIL -->
                 
                 
                
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>
                              Contattami: 
                       <a href="mailto:angelo.moreschini@medident-sw.it">E-MAIL! </a>
                 </strong></font>
           <!--mstheme--></font></td>
            <td width="700" height="310" bgcolor ="#FFFACD" colspan = "2"><!--mstheme--><font face="Century Gothic, Arial, Helvetica"> <!-- 2^ & 3^  colonna: pic dell'intestazione -->

                
                <p><font size="6" color="#A0522D"><strong>
                </strong></font></p>
                <img src="images/Intestazione.GIF" width="700" height="300" alt="Intestazione.GIF (27454 byte)"> 
                <!-- img src="images/Intestazione1.GIF"width="800" height="750" alt="Intestazione.GIF (27454 byte)">  
                <br>
                
                </font></p>
               
                 <!--mstheme--></font>
             <!--mstheme--></font></td>
         </tr>
         <tr>  
          
            <!-- 4^ fascia: scrolling delle qualità (Script...) -->
            <td height="50"  bgcolor ="#FF8C00" colspan = "3"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            <p><font size="6.5" align="center" color="#FF0000"><strong>
		
            <!-- da qui    -->
 		<script language="javascript">
<!--
    	// SCRIPT per la FUNZIONE DI SCROLLING VERTICALE, Codice JavaScript inserito direttamente nella pagina (nella table della pagina).
   	// non serve altro file esterno di supporto

	//Vertical Scroller v1.2- by Brian of www.ScriptAsylum.com
	//Updated for bug fixes
	//Visit JavaScript Kit (http://javascriptkit.com) for script

	//ENTER CONTENT TO SCROLL BELOW. 
	var content='<p> <font face="comic sans ms" font size="6" font color="#006400">Ambiente Windows </p><p><font size="5" font color="#00FF00"> PROGRAMMA VISUALE  </p><p><font size="6" font color="#0000FF">Chiarezza </p><p><font size="6" font color="#A0522D"> Semplicità </p> <p><font size="6" font color="#00B0FF"> Facilità di uso </font> </p>';


	var boxheight=50;        // BACKGROUND BOX HEIGHT IN PIXELS.
	var boxwidth=800;         // BACKGROUND BOX WIDTH IN PIXELS.
	var boxcolor="#FF8C00";   // BACKGROUND BOX COLOR.
	var speed=10;             // SPEED OF SCROLL IN MILLISECONDS (1 SECOND=1000 MILLISECONDS)..
	var pixelstep=2;          // PIXELS "STEPS" PER REPITITION.
	var godown=false;         // TOP TO BOTTOM=TRUE , BOTTOM TO TOP=FALSE

// DO NOT EDIT BEYOND THIS POINT

	var outer,inner,elementheight,ref,refX,refY;
	var w3c=(document.getElementById)?true:false;
	var ns4=(document.layers)?true:false;
	var ie4=(document.all && !w3c)?true:false;
	var ie5=(document.all && w3c)?true:false;
	var ns6=(w3c && navigator.appName.indexOf("Netscape")>=0)?true:false;
	var txt='';
	if(ns4){
		txt+='<table cellpadding=0 cellspacing=0 border=0 height='+boxheight+' width='+boxwidth+'><tr><td>';
		txt+='<ilayer name="ref" bgcolor="'+boxcolor+'" width='+boxwidth+' height='+boxheight+'></ilayer>';
		txt+='</td></tr></table>'
		txt+='<layer name="outer" bgcolor="'+boxcolor+'" visibility="hidden" width='+boxwidth+' height='+boxheight+'>';
		txt+='<layer  name="inner"  width='+(boxwidth-4)+' height='+(boxheight-4)+' visibility="hidden" left="2" top="2" >'+content+'</layer>';
		txt+='</layer>';
           }else{
		txt+='<div id="ref" style="position:relative; width:'+boxwidth+'; height:'+boxheight+'; background-color:'+boxcolor+';" ></div>';
		txt+='<div id="outer" style="position:absolute; width:'+boxwidth+'; height:'+boxheight+'; visibility:hidden; background-color:'+boxcolor+'; overflow:hidden; text-align:center" >';
		txt+='<div id="inner"  style="position:absolute; visibility:visible; left:2px; top:2px; width:'+(boxwidth-4)+'; overflow:hidden; cursor:default;">'+content+'</div>';
		txt+='</div>';
	}
document.write(txt);

	function getElHeight(el){
		if(ns4)return (el.document.height)? el.document.height : el.clip.bottom-el.clip.top;
		else if(ie4||ie5)return (el.style.height)? el.style.height : el.clientHeight;
			else return (el.style.height)? parseInt(el.style.height):parseInt(el.offsetHeight);
	}

	function getPageLeft(el){
		var x;
		if(ns4)return el.pageX;
		if(ie4||w3c){
			x = 0;
			while(el.offsetParent!=null){
				x+=el.offsetLeft;
				el=el.offsetParent;
			}
			x+=el.offsetLeft;
			return x;
		}
	}

	function getPageTop(el){
		var y;
		if(ns4)return el.pageY;
		if(ie4||w3c){
			y=0;
			while(el.offsetParent!=null){
				y+=el.offsetTop;
				el=el.offsetParent;
			}
			y+=el.offsetTop;
			return y;
			}
	}

	function scrollbox(){
		if(ns4){
		inner.top+=(godown)? pixelstep: -pixelstep;
		if(godown){
			if(inner.top>boxheight)inner.top=-elementheight;
			}else{
			if(inner.top<2-elementheight)inner.top=boxheight+2;
			}
			}else{
			inner.style.top=parseInt(inner.style.top)+((godown)? pixelstep: -pixelstep)+'px';
			if(godown){
				if(parseInt(inner.style.top)>boxheight)inner.style.top=-elementheight+'px';
				}else{
				if(parseInt(inner.style.top)<2-elementheight)inner.style.top=boxheight+2+'px';
			}
		}
	}

	window.onresize=function(){
		if(ns4)setTimeout('history.go(0)', 400);
		else{
		outer.style.left=getPageLeft(ref)+'px';
		outer.style.top=getPageTop(ref)+'px';
		}
	}

	window.onload=function(){
		outer=(ns4)?document.layers['outer']:(ie4)?document.all['outer']:document.getElementById('outer');
		inner=(ns4)?outer.document.layers['inner']:(ie4)?document.all['inner']:document.getElementById('inner');
		ref=(ns4)?document.layers['ref']:(ie4)?document.all['ref']:document.getElementById('ref');
		elementheight=getElHeight(inner);
		if(ns4){
			outer.moveTo(getPageLeft(ref),getPageTop(ref));
			outer.clip.width=boxwidth;
			outer.clip.height=boxheight;
			inner.top=(godown)? -elementheight : boxheight-2;
			inner.clip.width=boxwidth-4;
			inner.clip.height=elementheight;
			outer.visibility="show";
			inner.visibility="show";
			}else{
			outer.style.left=getPageLeft(ref)+'px';
			outer.style.top=getPageTop(ref)+'px';
			inner.style.top=((godown)? -elementheight : boxheight)+'px';
			inner.style.clip='rect(0px, '+(boxwidth-4)+'px, '+(elementheight)+'px, 0px)';
			outer.style.visibility="visible";
		}
		setInterval('scrollbox()',speed);
	}
 -->
	</script>
      <!-- a qui   -->
      </P>
            <!--mstheme--></font></td> 
            
         </tr>
         <tr width="500">  <!-- 5^ ed ultima facia: contatore delle visite -->
            <td height="20"  bgcolor ="#FFFFFF" colspan = "3" TEXT_ALIGN="CETERED"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            <p style="font-size:20"> <font color="#800000"> <!--  size="5" --> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>
                Questo sito ha avuto N.
                <img src=http://www.medident-sw.it/images/0.gif><img src=http://www.medident-sw.it/images/0.gif><img src=http://www.medident-sw.it/images/6.gif><img src=http://www.medident-sw.it/images/1.gif><img src=http://www.medident-sw.it/images/2.gif><img src=http://www.medident-sw.it/images/0.gif> 
                visitatori

</p>
           <!--mstheme--></font></td>
         </tr> 
    </table><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            
<!--mstheme--></font><!--msnavigation--></td></tr><!--msnavigation--></table></body>
</html>


<head>
    <title>medident: Software gestionale per Studi Dentistici </title>
    <meta name="description" content="Applicativo per gestire studi dentistici">
            <meta name="description" content="Software per la gestione di  Studi Dentistici ">
    <meta name="keywords" content="software, computer, Studi Dentistici, studio, studi, 
         Dentisti, dentistici, programma per dentisti, programma, dente, denti,
         gestionale, gestionale per studi dentistici, AbacuSW, Moreschini">

    
<meta name="Microsoft Theme" content="blueprnt 011">
<meta name="Microsoft Border" content="tl, default">
</head>

<!-- body background="_themes/blueprnt/blutextb.gif" bgcolor="#FFFFFF" text="#003399" link="#CC9900" vlink="#666699" alink="#CC3399" onload="initjsDOMenu(); start_ticking()"><!--msnavigation-->
<body background="_themes/blueprnt/blutextb.gif" bgcolor="#FFFFFF" text="#003399" link="#CC9900" vlink="#666699" alink="#CC3399"><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td><!--mstheme--><font face="Century Gothic, Arial, Helvetica">

<!--mstheme--></font></td></tr><!--msnavigation--></table><!--msnavigation--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top" width="1%"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
<!--mstheme--></font></td><td valign="top" width="24"></td><!--msnavigation--><td valign="top"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
    
	<script language="JavaScript" src="tree_nodes.js" msnavigation></script>
	<script language="JavaScript" src="tree_format.js"></script>
	<script language="JavaScript" src="nostree.js"></script>


	<script language="JavaScript">   
                                          // CODICE DIRETTAMENTE INSERITO NEL BROWSER....
//This script featured on JavaScript Kit (http://www.javascriptkit.com)

		var treeName = "Tree";
		new NosTree (treeName, TREE_NODES, TREE_FORMAT);

	//UNCOMMENT 2 lines below to expand first node of tree and redraw it
	//NTrees[treeName].Nodes[0].expanded = true;
	//NTrees[treeName].draw();
	</script>




    <!--mstheme--></font><table border="0" width="100%" height="350" cellspacing="0" cellpadding="0">
        <tr height="100" bgcolor="#800000">   <!-- striscione alto  -->
            <td width="150"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <img src="images/logo1.gif" alt="logo1.gif (1842 byte)" align="right" width="112" height="80">
            <!--mstheme--></font></td>
            <td width="650"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <p align="center"><strong><font color="#0000FF" size="6">
                &nbsp;&nbsp;&nbsp;</font>
                <font face="Verdana" size="7" color="#008000">AbacuSW&quot; </font>
                <font face="Verdana" size="5" color="#008000"><br> Studio di Programmazione </font>
                </strong><font color="#0000FF" size="2"><br>
                &nbsp;&nbsp;&nbsp; </font>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
                <font size="3" color="#FFFF00"> 
                        Responsabile: Dott. Angelo Moreschini.&nbsp; <br>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Via Lambioi N.1 32100 BELLUNO Tel.:043725178 Fax.:0437298890 
                       <!-- /strong --></font>
                <font color="#00000B" size="3"><br>
                      &nbsp;&nbsp;&nbsp; </font><br>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                      
                     
            <!--mstheme--></font></td>
            <td width="150"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
                <img src="images/io1.jpg" alt="foto.jpg " align="left" width="100" height="120" FRAMEBORDER =9>
            <!--mstheme--></font></td>

        </tr>
        <tr>     <!-- striscione intermedio  -->
                      
            <td width="250" height="300" bgcolor ="#F5FFFA"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">  <!-- prima colonna: menù ed E-MAIL -->
                 
                 
                
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>&nbsp;</strong></font></p>
                 <p><font size="3" color="#800000"><strong>
                              Contattami: 
                       <a href="mailto:angelo.moreschini@medident-sw.it">E-MAIL! </a>
                 </strong></font>
           <!--mstheme--></font></td>
            <td width="700" height="310" bgcolor ="#FFFACD" colspan = "2"><!--mstheme--><font face="Century Gothic, Arial, Helvetica"> <!-- 2^ & 3^  colonna: pic dell'intestazione -->

                
                <p><font size="6" color="#A0522D"><strong>
                </strong></font></p>
                <img src="images/Intestazione.GIF" width="700" height="300" alt="Intestazione.GIF (27454 byte)"> 
                <!-- img src="images/Intestazione1.GIF"width="800" height="750" alt="Intestazione.GIF (27454 byte)">  
                <br>
                
                </font></p>
               
                 <!--mstheme--></font>
             <!--mstheme--></font></td>
         </tr>
         <tr>  
          
            <!-- 4^ fascia: scrolling delle qualità (Script...) -->
            <td height="50"  bgcolor ="#FF8C00" colspan = "3"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            <p><font size="6.5" align="center" color="#FF0000"><strong>
		
            <!-- da qui    -->
 		<script language="javascript">
<!--
    	// SCRIPT per la FUNZIONE DI SCROLLING VERTICALE, Codice JavaScript inserito direttamente nella pagina (nella table della pagina).
   	// non serve altro file esterno di supporto

	//Vertical Scroller v1.2- by Brian of www.ScriptAsylum.com
	//Updated for bug fixes
	//Visit JavaScript Kit (http://javascriptkit.com) for script

	//ENTER CONTENT TO SCROLL BELOW. 
	var content='<p> <font face="comic sans ms" font size="6" font color="#006400">Ambiente Windows </p><p><font size="5" font color="#00FF00"> PROGRAMMA VISUALE  </p><p><font size="6" font color="#0000FF">Chiarezza </p><p><font size="6" font color="#A0522D"> Semplicità </p> <p><font size="6" font color="#00B0FF"> Facilità di uso </font> </p>';


	var boxheight=50;        // BACKGROUND BOX HEIGHT IN PIXELS.
	var boxwidth=800;         // BACKGROUND BOX WIDTH IN PIXELS.
	var boxcolor="#FF8C00";   // BACKGROUND BOX COLOR.
	var speed=10;             // SPEED OF SCROLL IN MILLISECONDS (1 SECOND=1000 MILLISECONDS)..
	var pixelstep=2;          // PIXELS "STEPS" PER REPITITION.
	var godown=false;         // TOP TO BOTTOM=TRUE , BOTTOM TO TOP=FALSE

// DO NOT EDIT BEYOND THIS POINT

	var outer,inner,elementheight,ref,refX,refY;
	var w3c=(document.getElementById)?true:false;
	var ns4=(document.layers)?true:false;
	var ie4=(document.all && !w3c)?true:false;
	var ie5=(document.all && w3c)?true:false;
	var ns6=(w3c && navigator.appName.indexOf("Netscape")>=0)?true:false;
	var txt='';
	if(ns4){
		txt+='<table cellpadding=0 cellspacing=0 border=0 height='+boxheight+' width='+boxwidth+'><tr><td>';
		txt+='<ilayer name="ref" bgcolor="'+boxcolor+'" width='+boxwidth+' height='+boxheight+'></ilayer>';
		txt+='</td></tr></table>'
		txt+='<layer name="outer" bgcolor="'+boxcolor+'" visibility="hidden" width='+boxwidth+' height='+boxheight+'>';
		txt+='<layer  name="inner"  width='+(boxwidth-4)+' height='+(boxheight-4)+' visibility="hidden" left="2" top="2" >'+content+'</layer>';
		txt+='</layer>';
           }else{
		txt+='<div id="ref" style="position:relative; width:'+boxwidth+'; height:'+boxheight+'; background-color:'+boxcolor+';" ></div>';
		txt+='<div id="outer" style="position:absolute; width:'+boxwidth+'; height:'+boxheight+'; visibility:hidden; background-color:'+boxcolor+'; overflow:hidden; text-align:center" >';
		txt+='<div id="inner"  style="position:absolute; visibility:visible; left:2px; top:2px; width:'+(boxwidth-4)+'; overflow:hidden; cursor:default;">'+content+'</div>';
		txt+='</div>';
	}
document.write(txt);

	function getElHeight(el){
		if(ns4)return (el.document.height)? el.document.height : el.clip.bottom-el.clip.top;
		else if(ie4||ie5)return (el.style.height)? el.style.height : el.clientHeight;
			else return (el.style.height)? parseInt(el.style.height):parseInt(el.offsetHeight);
	}

	function getPageLeft(el){
		var x;
		if(ns4)return el.pageX;
		if(ie4||w3c){
			x = 0;
			while(el.offsetParent!=null){
				x+=el.offsetLeft;
				el=el.offsetParent;
			}
			x+=el.offsetLeft;
			return x;
		}
	}

	function getPageTop(el){
		var y;
		if(ns4)return el.pageY;
		if(ie4||w3c){
			y=0;
			while(el.offsetParent!=null){
				y+=el.offsetTop;
				el=el.offsetParent;
			}
			y+=el.offsetTop;
			return y;
			}
	}

	function scrollbox(){
		if(ns4){
		inner.top+=(godown)? pixelstep: -pixelstep;
		if(godown){
			if(inner.top>boxheight)inner.top=-elementheight;
			}else{
			if(inner.top<2-elementheight)inner.top=boxheight+2;
			}
			}else{
			inner.style.top=parseInt(inner.style.top)+((godown)? pixelstep: -pixelstep)+'px';
			if(godown){
				if(parseInt(inner.style.top)>boxheight)inner.style.top=-elementheight+'px';
				}else{
				if(parseInt(inner.style.top)<2-elementheight)inner.style.top=boxheight+2+'px';
			}
		}
	}

	window.onresize=function(){
		if(ns4)setTimeout('history.go(0)', 400);
		else{
		outer.style.left=getPageLeft(ref)+'px';
		outer.style.top=getPageTop(ref)+'px';
		}
	}

	window.onload=function(){
		outer=(ns4)?document.layers['outer']:(ie4)?document.all['outer']:document.getElementById('outer');
		inner=(ns4)?outer.document.layers['inner']:(ie4)?document.all['inner']:document.getElementById('inner');
		ref=(ns4)?document.layers['ref']:(ie4)?document.all['ref']:document.getElementById('ref');
		elementheight=getElHeight(inner);
		if(ns4){
			outer.moveTo(getPageLeft(ref),getPageTop(ref));
			outer.clip.width=boxwidth;
			outer.clip.height=boxheight;
			inner.top=(godown)? -elementheight : boxheight-2;
			inner.clip.width=boxwidth-4;
			inner.clip.height=elementheight;
			outer.visibility="show";
			inner.visibility="show";
			}else{
			outer.style.left=getPageLeft(ref)+'px';
			outer.style.top=getPageTop(ref)+'px';
			inner.style.top=((godown)? -elementheight : boxheight)+'px';
			inner.style.clip='rect(0px, '+(boxwidth-4)+'px, '+(elementheight)+'px, 0px)';
			outer.style.visibility="visible";
		}
		setInterval('scrollbox()',speed);
	}
 -->
	</script>
      <!-- a qui   -->
      </P>
            <!--mstheme--></font></td> 
            
         </tr>
         <tr width="500">  <!-- 5^ ed ultima facia: contatore delle visite -->
            <td height="20"  bgcolor ="#FFFFFF" colspan = "3" TEXT_ALIGN="CETERED"><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            <p style="font-size:20"> <font color="#800000"> <!--  size="5" --> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>
                Questo sito ha avuto N.
                <img src=http://www.medident-sw.it/images/0.gif><img src=http://www.medident-sw.it/images/0.gif><img src=http://www.medident-sw.it/images/6.gif><img src=http://www.medident-sw.it/images/1.gif><img src=http://www.medident-sw.it/images/2.gif><img src=http://www.medident-sw.it/images/0.gif> 
                visitatori

</p>
           <!--mstheme--></font></td>
         </tr> 
    </table><!--mstheme--><font face="Century Gothic, Arial, Helvetica">
            
<!--mstheme--></font><!--msnavigation--></td></tr><!--msnavigation--></table></body>
</html>

